* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 900;
  min-height: 0;
  font-size: 12px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: #222222;
  /* background-color: transparent; */
}

window#waybar.hidden {
  opacity: 0.5;
}

tooltip {
  background: #222222;
  border: 1px solid #ccccff;
}

tooltip label {
  padding: 0px 10px;
}

/*-----module groups----*/
/*.modules-right {
  margin: 4px 4px 0 0;
  background-color: #222222;
  border-radius: 5px;
}

.modules-center {
  margin: 4px 4px 0 4px;
  background-color: #222222;
  border-radius: 5px;
}

.modules-left {
  margin: 4px 0px 0 4px;
  background-color: #222222;
  border-radius: 5px;
}*/

#workspaces button {
  color: #888;
}

#workspaces button.active {
  color: #ccccff;
}

#workspaces button.focused {
  color: #d8dee9;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  color: #fff;
}

#backlight,
#battery,
#bluetooth,
#custom-clock,
#cpu,
#custom-bookmark,
#custom-lock,
#custom-nettraf,
#custom-playytv,
#custom-todo,
#memory,
#mode,
#network,
#pulseaudio,
#taskbar,
#taskbar button,
#temperature,
#tray,
#tags,
#workspaces,
#window,
#wireplumber {
  color: #ccccff;
  padding: 0px 10px;
  border-radius: 10px;
}

#tray,
#tags,
#workspaces {
  padding: 0px 6px;
}

#temperature.critical {
  background-color: #ff0000;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#taskbar button.active {
  background-color: #e0af68;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tags button.occupied {
  color: orange;
}

#tags button.focused {
  color: yellow;
}
